# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.conda/
storage/
tests/
.pytest_cache/
.DS_Store
flet_build.py

# Virtual Environment
venv/
.venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# 数据存储
storage/data/*
storage/temp/*
!storage/data/.gitkeep
!storage/temp/.gitkeep

# 日志文件
logs/
*.log

# flet 客户端，在构建时自动打包（根据平台不同）
src/assets/.flet.zip
src/assets/.flet.tar.gz

# 模型仓库
MyTools_Models/